.facultyPoints_outer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255,255,255,0.5);
    border-radius: 20px;
    min-height: 66px;
    font-size: 1.2em;
    font-weight: 500;
    gap: 10px;
    min-width: 22rem;
    padding: 5px;
}

.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.facultyPoints_outer p {
    margin: 0;
}

.facultyPoints_outer .faculty_logo {
    margin: 10px;
}

.points {
    margin-left: auto;
    margin-right: 10px;
}