.faculty_outer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: .5s linear all;
    background: white;
    border-radius: 20px;
    gap: 10px;
    width: 200px;
    padding: 7px 7px 7px 10px;
    overflow-wrap: break-word;
    background: rgba(255, 255, 255, 0.8);
}

.faculty_outer p {
    margin: 0;
}

.faculty_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}