.faculty_outer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: .5s linear all;
    background: white;
    border-radius: 20px;
    font-size: 1em;
    gap: 10px;
    padding: 3px 15px 3px 3px;
    overflow-wrap: break-word;
}